section.product 
	.container.product__container
		.product__body
			.product__items
				.product__item.product__item_col1
					+card ({
						items:[{
							title: 'DISCONNECT', url: 'index.html', img: 'item1' }]
						})
				.product__item.product__item_col1
					+card ({
						items:[{
							title: 'MIT', url: 'index2.html', img: 'item2'}]
						})
				.product__item.product__item_col1
					+card ({
						items:[{
							title: 'FABRK', url: 'index3.html', img: 'item3'}]
						})
				.product__item.product__item_col3
					+menu({
					gl_class: 'product_notes',
					items: [
						{title: 'Your nimble team is waiting!'},
						{title: '339.229.0066'},
					]
					})
					
					+card ({
						items:[{
							title: 'PAYPAL | EDITORIAL + MOTION', url: 'index4.html', img: 'banner2'}]
						})
				.product__item.product__item_col2
					+card ({
						items:[{
							url: 'index5.html', img: 'item4'}]
						})
				.product__item.product__item_col1
					+card ({
						items:[{
							title: 'HOE | AUDIOGRAMS', url: 'index6.html', img: 'item5'}]
						})
				.product__item.product__item_col1
					+card ({
						items:[{
						url: 'index7.html', img: 'item6'}]
						})
				.product__item.product__item_col2
					+card ({
						items:[{
							title: 'F1ZZ | BRANDING + ANIMATION', url: 'index8.html', img: 'item7'}]
						})