mixin header
	header.header
		.container.header__container
			.header__logo
				a(href="#").header__logo_link 
					+picture({
						png: true,
						class: 'header__logo_img',
						img: `logo`
					})
			nav.nav
				+menu({
				gl_class: 'nav',
				items: [
					{title: 'WORK', url: 'index.html'},
					{title: 'INFO'},
				]
				})
				//-.nav__shedule 
				//-	a(href="#", title="title").nav__link SCHEDULE A CALL
				a(href="#", title="title").nav__shedule SCHEDULE A CALL