-

	let cardArray = [
		{
			title: 'DISCONNECT', 
			url: 'index.html', 
			img: 'item1', 
			mod: 'small',
			mob: 'center', 
			subUrl: [{link: 'DISCONNECT'}]},
		{
			title: 'MIT', 
			url: 'index2.html', 
			img: 'item2', 
			mod: 'small', 
			subUrl: [{link: 'MIT'}]},
		{
			title: 'FABRK', 
			url: 'index3.html', 
			img: 'item3', 
			mod: 'small', 
			subUrl: [{link: 'FABRK'}]
		},
		{
			title: 'PAYPAL | EDITORIAL + MOTION', 
			url: 'index4.html', 
			img: 'banner2',
			mod: 'big', 
			video:true,
			videoLink: 'https://youtube.com', 
			subUrl: [{link: 'PAYPAL'},{link: 'EDITORIAL + MOTION'}],
			prodNotes: [{link: 'Your nimble team is waiting!'}, {link: '339.229.0066'}]
		},
		{
		url: 'index5.html', 
		img: 'item4',
		mod: 'midlle', 
		},
		{
		url: 'index6.html',
		img: 'item5',
		mod: 'small',
		subUrl: [{link: 'HOE'},{link: 'AUDIOGRAMS'}]
		},
		{
		url: 'index7.html', 
		img: 'item6',
		mod: 'small'
		},
		{
		url: 'index8.html', 
		img: 'item7',
		mod: 'midlle',
		subUrl: [{link: 'F1ZZ'},{link: 'BRANDING + ANIMATION'}]
		}
	];