.art__list {
  position: absolute;
  bottom: 3.8rem;
  left: 5.2rem;
  z-index: 1;

  @include flex_block(row, wrap, flex-start, center, center);

  font-size: 1.9rem;
  letter-spacing: -0.04rem;
}

.art__list.small {
  left: 50%;
  transform: translateX(-50%);
}

.art__item {
  &::after {
    content: "|";
    padding: 0 5px;
  }

  &:last-child {
    padding: 0;
    &::after {
      content: none;
    }
  }
}

.art__link {
  text-transform: uppercase;
  color: $white;
  transition: color 0.3s ease;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

@include bp($point_5, max) {
  .art__list {
    bottom: 2.8rem;
    left: 2.2rem;

    font-size: 1.6rem;
  }
}
