.product__items {
  @include flex_block(row, wrap, space-between, stretch, center);
}

.product__item {
  position: relative;
}

.product__item.small {
  width: 33.333%;
}

.product__item.midlle {
  width: 66.667%;
}

.product__item.big {
  width: 100%;
}
