//---------------------------------------------ohter_icons
.icon {
	display: block;

	fill: currentColor;

	&.icon--size_mod {
		width: 100%;
		height: 100%;
	}
}

.icon_wow {
	height: 4.8rem;
	width: 20rem;
}

.icon_play {
	height: 6.4rem;
	width: 5rem;
}

.play_video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.icon_about--mod {
	height: 2.9rem;
	width: 2.9rem;
}

.icon_footer--mod {
	height: 2.8rem;
	width: 7.4rem;

	fill: #707070;
}
