extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'New Balance'}
block content_block
	include ../blocks/_intro
	include ../blocks/_product
	include ../blocks/_about
