//------------------------------------------------------------layout
.header {
	position: fixed;
	top: 0;
	left: 0;

	height: var(--height-header);
	width: 100%;

	font-size: 1rem;

	will-change: transform;

	@include z-index(header);
}

//------------------------------------------------------------layout###

.header {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;

	background-color: $scarlet;
}

.nav {
	max-width: 75%;
}

.header__container,
.nav,
.nav__shedule {
	@include flex_block(row, nowrap, space-between, center, center);
}

.nav__list {
	@include flex_block(row, wrap, space-between, center, center);
}

.header__container {
	height: 100%;
	margin: 0 auto;
}
.header__logo {
	margin: 0 0rem 0 4.6rem;
	max-width: 15.6rem;
}

.header__logo_img img{
	display: block;
	width: 100%;
	object-fit: cover;
}

.nav__list {
	margin: 0 8rem 0 0;
}

.header__logo_link {
	display: block;
}

.nav__item {
	padding: 0 7.8rem 0 0;
	&:last-child {
		padding: 0 0 0 0;
	}
}

.nav__link {
	display: block;

	color: $white;

	transition: color 0.3s;
	&:hover {
		color: black;
		text-decoration: none;
	}
}

.nav__shedule {
	height: var(--height-header);
	padding: 0 5rem 0 6rem;

	color: $white;

	background: $ocean;

	&:hover {
		color: black;
		text-decoration: none;
	}
}

@include bp($point_2, max) {
	.nav__list {
		margin: 0 3rem 0 0;
	}

	.header__container {
		padding: 0 2rem 0 2rem;
	}

	.nav__item {
		padding: 0 2.4rem 0 0;
	}

	.nav__shedule {
		height: 100%;
		padding: 0 1rem 0 1rem;
	}
}

@include bp($point_5, max) {
	.header__container,
	.nav,
	.nav__shedule {
		@include flex_block(row, wrap, space-between, center, center);
	}

	.nav {
		max-width: 100%;
	}
}
